# Project 01

In [34]:
import pandas as pd


# Load the data
df = pd.read_csv("./employee_data_project.csv")


# check the data formate
print("Shape of data \n", df.shape , "\n")
print("All Columns \n", df.columns , "\n")

Shape of data
 (150, 8)

All Columns
 Index(['EmployeeID', 'Name', 'Age', 'Gender', 'Department', 'Salary',
       'JoinDate', 'PerformanceScore'],
      dtype='object')

In [35]:
# check all missing values
print("missing values \n", df.isnull().sum())

missing values
 EmployeeID          0
Name                0
Age                 6
Gender              0
Department          0
Salary              4
JoinDate            0
PerformanceScore    0
dtype: int64

In [33]:
# fill missing value in age
df["Age"].fillna(df["Age"].mean() , inplace=True)
df["Salary"].fillna(df["Salary"].mean() , inplace=True)
print("Add Age missing values \n", df.head())
print("\n -------------------- \n")
print("missing values \n", df.isnull().sum())

Add Age missing values
    EmployeeID             Name   Age  Gender Department    Salary   JoinDate  \
0        2520   Michael Rogers  23.0  Female    Finance   33997.0 2020-07-10
1        4511  Gabrielle Ortiz  37.0    Male         HR  108922.0 2018-05-04
2        6122    Scott Cabrera  23.0  Female    Finance   50317.0 2018-09-22
3        3191   Caitlin Patton  26.0    Male         HR  102447.0 2024-01-26
4        6244    Melissa Smith  46.0  Female         HR   79335.0 2024-01-02

  PerformanceScore
0             Poor
1        Excellent
2        Excellent
3             Poor
4          Average

 --------------------

missing values
 EmployeeID          0
Name                0
Age                 0
Gender              0
Department          0
Salary              0
JoinDate            0
PerformanceScore    0
dtype: int64

/tmp/ipykernel_25968/3343525663.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean() , inplace=True)
/tmp/ipykernel_25968/3343525663.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Salary"].fillna(df["Salary"].mean() , inplace=True)

In [36]:
# delete duplicate values
print("Duplicates values \n" , df.duplicated().sum() , "\n") 

# drop duplicate
df.drop_duplicates(inplace=True)

Duplicates values
 0

In [37]:
# drop the row having the wrong formate
df["JoinDate"] = pd.to_datetime(df["JoinDate"] , errors="coerce")
df.dropna(subset=["JoinDate"] , inplace=True)


# now our data is clean now need to sav it in a file
df.to_csv("clean_employee_data.csv", index=False)