# Advance pandas

In [3]:
import pandas as pd

In [15]:
data = {
    "Name" : ["John","Doe","Michel","Jackson","Jack","Mic","Taylor","Johnny"],
    "Age" : [30, 40 , 33 , 44 , 27 , 37 , 32 , 35],
    "Salary" : [50000 , 40000, 30000 , 45000 , 43000,35000 , 30000 , 32000]
}
df = pd.DataFrame(data)

# add new column in data
df["Bonus"] = df["Salary"] * 0.1 # add 10% bonus

# replace column with new data
df["Salary"] = df["Salary"] * 1.05 # add 5% increment


# change any value in data 
df.loc[1 , "Name"] = "John Doe"


# insert data at any specific place
df.insert(0 , "Id",[1,2,3,4,5,6,7,8] , allow_duplicates=False)


# delete any data
df.drop(columns=["Id"], inplace=True)


print(df)

       Name  Age   Salary   Bonus
0      John   30  52500.0  5000.0
1  John Doe   40  42000.0  4000.0
2    Michel   33  31500.0  3000.0
3   Jackson   44  47250.0  4500.0
4      Jack   27  45150.0  4300.0
5       Mic   37  36750.0  3500.0
6    Taylor   32  31500.0  3000.0
7    Johnny   35  33600.0  3200.0

### Data Cleaning

In [ ]:
# clean data from null or NAN  values


clean_data = pd.read_csv("./sample_data_clean.csv", encoding="latin1")
print(clean_data , "\n")
# find where the data is null
print("Find missing values in columns \n", clean_data.isnull(), "\n")

# find the total null values
print("Total null values \n" , clean_data.isnull().sum(), "\n")

# fill data in null values 

# clean_data["Age"].fillna(90 , inplace=True , axis=0)
# clean_data["Gender"].fillna("Male", inplace=True)
# clean_data["Age"].fillna(clean_data["Age"].mean(), inplace=True)
# clean_data["Age"].fillna(clean_data["Age"].interpolate(method="linear"), inplace=True)

# drop null values
# clean_data.dropna(axis=0 , inplace=True)

# wrong formate
# clean_data["JoinDate"] = pd.to_datetime(clean_data["JoinDate"], errors="coerce")


print(clean_data)

            Name   Age  Gender   Salary    JoinDate
0     John Smith  29.0    Male  50000.0  2020-01-15
1   Mary Johnson   NaN  Female  62000.0  2019-03-22
2   Robert Brown  45.0    Male      NaN  2018-07-30
3    Emily Davis  33.0  Female  71000.0  2021-06-17
4     John Smith  29.0    Male  50000.0  2020-01-15
5            NaN  38.0     NaN  54000.0  2020-10-05
6       Alex Lee  27.0    Male  58000.0  not_a_date

Find missing values in columns
     Name    Age  Gender  Salary  JoinDate
0  False  False   False   False     False
1  False   True   False   False     False
2  False  False   False    True     False
3  False  False   False   False     False
4  False  False   False   False     False
5   True  False    True   False     False
6  False  False   False   False     False

Total null values
 Name        1
Age         1
Gender      1
Salary      1
JoinDate    0
dtype: int64

          Name   Age  Gender   Salary   JoinDate
0   John Smith  29.0    Male  50000.0 2020-01-15
3  Emily Davis  33.0  Female  71000.0 2021-06-17
4   John Smith  29.0    Male  50000.0 2020-01-15
6     Alex Lee  27.0    Male  58000.0        NaT